.tt-cap{
    text-transform: capitalize;
}
.mrg-r-5 {
    margin-right: 5px;
}

.mrg-r-10 {
    margin-right: 10px;
}
.mrg-b-10 {
    margin-bottom: 10px;
}
.mrg-t-0{
    margin-top: 0;
}
.icon-example{
    font-size: 20px;
    float: right;
    margin-right: 10px;
}
.d-flex {
    /* display: flex; */
    width: 100%;
    padding-bottom: 6px;
    justify-content: flex-end;
}

.btn {
    line-height: 0;
}

.modal {
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-enter-active,
.modal-leave-active {
    transition: opacity .9s
}

.modal-enter,
.modal-leave-to {
    opacity: 0
}

.cursor {
    cursor: pointer;
}

.tableFilters {
    display: flex;
    margin: 4px 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.tableFilters .control{
    width: 5%;
}
.top-menu {
    width: auto;
}
.wrapper .header-top .top-menu .header-search.open .input-group .form-control{
    width: 200px;
    transition: all ease .5s;
}
.wrapper .header-top .top-menu .header-search, .input-group, .form-control, .input-group-addon{
    transition: all ease .5s;
}
.dropdown-menu-notif.show{
    position: absolute !important;
    transform: translate3d(-270px, -10px, 0px) !important;
    top: 0px !important;
    left: 0px !important;
    will-change: transform !important;        
}
.text-blues{
    color: #3d6eb2;
}
.breadcrumb-item.active {
    color: #7c98bf;
}
.pagination a{
    background-color: #dce2e8;
    padding: 3px 8px;
    margin: 0 5px;
    cursor: pointer;    
}
::placeholder{
    color:#3d6eb2

}
.file-uploads {
    line-height: .9rem;
}
.v-avatar {
    border-radius: 0 !important;
}
.btnc-plus .v-icon{
    font-size: 40px;
}
.v-application--wrap{
    background-color: #f5f5f5;
}
.theme--light.v-bottom-navigation .v-btn {
    color: rgba(0,0,0,.54)!important;
}
.theme--light.v-bottom-navigation .v-btn.active {
    color: #ff0000!important;
}
.v-application--wrap{
    overflow-x: hidden;
}